Gemfile.lock
.bundle/
log/*.log
pkg/
.DS_Store
.pry_history

/bin/*
!/bin/compile_and_push_version
!/bin/console
!/bin/setup
!/bin/version

associate_jsonb-*.gem

spec/config/database.yml
spec/config/schema.*
